<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletRenvoiMdp</servlet-name>
        <servlet-class>Servlet.ServletRenvoiMdp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeCandidatureByCandidat</servlet-name>
        <servlet-class>Servlet.ServletListeCandidatureByCandidat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletlisteCandidatureByPromoEtat</servlet-name>
        <servlet-class>Servlet.ServletlisteCandidatureByPromoEtat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletsaisieCandidature</servlet-name>
        <servlet-class>Servlet.ServletSaisieCandidat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscriptionCandidat</servlet-name>
        <servlet-class>Servlet.ServletInscriptionCandidat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>Servlet.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaisieCandidature</servlet-name>
        <servlet-class>Servlet.ServletSaisieCandidature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaisieDeCandidature</servlet-name>
        <servlet-class>Servlet.ServletSaisieDeCandidature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifierCandidature</servlet-name>
        <servlet-class>Servlet.ServletModifierCandidature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfirmationInscription</servlet-name>
        <servlet-class>Servlet.ServletConfirmationInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeconnexion</servlet-name>
        <servlet-class>Servlet.ServletDeconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCandidature</servlet-name>
        <servlet-class>Servlet.ServletCandidature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListePromotion</servlet-name>
        <servlet-class>Servlet.ServletListePromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminAuthentification</servlet-name>
        <servlet-class>Servlet.ServletAdminAuthentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRenvoiMdp</servlet-name>
        <url-pattern>/ServletRenvoiMdp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeCandidatureByCandidat</servlet-name>
        <url-pattern>/ServletListeCandidatureByCandidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletlisteCandidatureByPromoEtat</servlet-name>
        <url-pattern>/ServletlisteCandidatureByPromoEtat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletsaisieCandidature</servlet-name>
        <url-pattern>/ServletsaisieCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscriptionCandidat</servlet-name>
        <url-pattern>/ServletInscriptionCandidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/ServletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaisieCandidature</servlet-name>
        <url-pattern>/ServletSaisieCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaisieDeCandidature</servlet-name>
        <url-pattern>/ServletSaisieDeCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifierCandidature</servlet-name>
        <url-pattern>/ServletModifierCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfirmationInscription</servlet-name>
        <url-pattern>/ServletConfirmationInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeconnexion</servlet-name>
        <url-pattern>/ServletDeconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCandidature</servlet-name>
        <url-pattern>/ServletCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListePromotion</servlet-name>
        <url-pattern>/ServletListePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminAuthentification</servlet-name>
        <url-pattern>/ServletAdminAuthentification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
